/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, button, output, ruby, section, summary, time, mark, audio, video {
font-family: 'Nunito', sans-serif;
margin: 0;
padding: 0;
border: 0;
font: inherit;
text-decoration:none;
list-style: none;
}

/** general **/
body {
font-family: 'Nunito', sans-serif;
font-size: 13px;
line-height: 1.8em;
font-style: normal;
font-weight: normal;
text-align: left;
overflow-x:hidden;
color:#606060;
background:#fff;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

#layout {
 margin-top:-20px;	 
}

#barra {
position: relative;
width: 1200px;
display: block;
}

.container-fluid {
margin: 0;
padding: 0;
}

h1{ font-size:30pt; font-weight:700; line-height:normal; text-transform:uppercase;}
h2{ font-size:22pt; font-weight:400; line-height:normal; }
h3{ font-size:20pt; font-weight:300; line-height:normal; }
h4{ font-size:18pt; font-weight:600; }
h5{ font-size:14pt; font-weight:600; }
h6{ font-size:12pt; font-weight:600; }
p{
	font-size:15px;
}

a, a:visited, a:hover, a:active , a:link{ 
color: inherit;
text-decoration:none;
outline: 0;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease; 
}

.link-class {
    display: block;
	text-decoration:none;
}
	
	hr {
	display: block;
	clear: both;
	border-top: solid 1px #ddd;
	margin: 40px 0 40px 0;
	}
	
.center{ text-align:center; margin:0 auto; }
.left{ text-align:left; float:left; line-height:inherit; }
.right{ text-align:right; float:right; line-height:inherit; }
.color{
	color:#97ff51;
}

.form {

color:#fff;
text-align: center;
background: #99d7d2; 
padding:0;"

}

.form-submit-button {
background: #0066A2;
color: white;
border-style: none;
font: bold 15px arial, sans-serif;
text-shadow:none;
cursor: hand;
}

.form-input {
color: white;
height: 40px;
background: none;
border-style: none;
font: bold 15px arial, sans-serif;
text-shadow:none;
}

input::-webkit-input-placeholder{
    color:white;
}
input:-moz-placeholder {
    color:white;
}

.navbar {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  z-index: 10000;
}

.scroll-link{cursor:pointer;}

.rodape {
	background-color:#fff; 
	height:60px;
	width:1200px;
	margin:0 auto;
}

.item-b {
	padding:10px;
	text-align:left;
}

.item-rodape1 {
	float:left;
	padding:10px 0;
	font-size:10px;"
}

.item-rodape2 {
	float:left;
	padding:20px 0;
	font-size:10px;"
}

.item-grupo20 {
    padding:20px 0;
}

.item-grupo10 {
    padding:10px 0;
}
 
.vitrine {
   margin:20px;
}

.space-vitrine{ margin:10px; padding: 10px;}

.barra {
	display: block;
    width: 90%;
    position: relative;
	margin: 0 auto;
}

#barraprocura {
 display:none;
 z-index:10000; 
 position:absolute; 
 left: 0; 
 top: 100px; 
 background:#de6244; 
 color: #fff; 
 height:60px; 
 width:100%; 
 text-align:center;"
}

#barraprocura p {
 padding:20px;
 text-align:center;
}

#barrapessoa {
 display:none;
 z-index:10000; 
 position:absolute; 
 right: 0; 
 top: 65px; 
 background:#de6244; 
 color: #fff; 
 height:auto; 
 width:300px; 
 text-align:center;
}

.bpemail {
 font-size: 1.4em;
 border-bottom: 1px solid #000;
 padding: 20px;
 width: 90%;
 margin: 0 auto
}

.grupoitems {
 padding: 20px; 
 margin: 0 auto;
 display: table;
}

.bpitem {
 font-size: 1.4em;
 float: left;
 width: 100%;
}

#barracarrinho {
 display:none;
 z-index:10000; 
 position:absolute; 
 right: 0; 
 top: 65px; 
 background:#de6244; 
 color: #fff; 
 height:auto; 
 width:500px;
 padding: 10px; 
 text-align:center;
}

.bctexto1 {
 font-size: 1.4em;
 color: #ffc107;
 padding: 20px;
 width: 100%;
 margin: 0 auto	
}

.btnadic {
 width: auto;
 color: #ffc107;
 border: 1px solid #de6244;
 background: none;
 cursor: pointer;
 border: 1px solid #fff;
 padding: 10px 20px;
 margin-bottom: 20px; 
}

.carousel-indicators .active {
 background: #de6244; 
}

.fundobranco {
 background: #fff; 
}

/* menu nav */
#menu-dir {
	position: relative;
    float: right;
    margin-top: 40px;	
	color:#efefef;
	z-index:999;
	-webkit-transition : all .1s ease-in-out;
    -moz-transition    : all .1s ease-in-out;
    transition         : all .1s ease-in-out;
}

#menu-dir ul {
	padding: 0;
    margin: 0;
	list-style: none;
	position: relative;
}
	
#menu-dir ul li {
	display:inline-block;
}

.nav-item-hover {
	color:#979797 !important;
}

.iconx {
	background: url('../icons/icon-close-branco.png') !important;
}

#iconx {
	background-image: url('../icons/icon-close-branco.png'); 
    color: #fff;
	margin-right:5px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;	
}

#lupa {
	background-image: url('../icons/icon_06.png'); 
	width:27px; 
	height:27px;
    color: #fff;
	margin-right:5px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	position: relative;
}

.lupahover {
	background-image: url('../icons/icon_hover_06.png') !important; 
}

#pessoa {
	background-image: url('../icons/icon_09.png'); 
	width:27px; 
	height:27px;
	margin-right:10px;	
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	position: relative;
	
}

.pessoahover {
	background-image: url('../icons/icon_hover_09.png') !important; 
}

#carrinho {
	background-image: url('../icons/icon_11.png'); 
	width:27px; 
	height:27px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	position: relative;
	
}

.carrinhohover {
	background-image: url('../icons/icon_hover_11.png') !important; 
}

.arealogo {
	width: 300px;
	text-align:center;	
}

.logo {
	background-image: url('../icons/icon_03.png'); 
	width: 211px;
	height: 58px;
	display:block;
    position: relative;
	margin: 10px auto;
}

.logohover {
	background-image: url('../icons/icon_hover_03.png') !important; 
	width: 211px;
	height: 58px;
}
	

.nav-item a{
	 color:#fff;
	 font-size: 14px;
	 margin: 0 10px;
}

.portfolio-reaction {
  display:block;
}

.headline-overlay {
	background:#de6244; 
	display:none;
	position:absolute;
	top:0;
	z-index:999;
	color:#000;
	text-align: center;
	width: 91%;
	height:100%;
	opacity: 0.5;
	filter: alpha(opacity=50); 
}

.gruponomes {
	font-size: 20px;
    text-align: center;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    overflow: none;
    text-decoration: none;
    margin: 0 auto;
}

.gruponomes {
	color: #fff;
    transition: color 1s;
    -webkit-transition: color 1s;
}

.element-1 {
	font-weight:bold;
	font-size:2.3em;
}
							   
.portfolio-reaction:hover .headline-overlay {
    display: table;
}

.headline-overlay:hover .gruponomes{
    color: #000;
}


.monte {
	background-image: url('../images/banner-monte.jpg'); 
	width:100%; 
	height:700px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.gradiente {
	
   background-image: url('../images/gradiente.jpg'); 
   width:100%; 
   height:auto;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
 
}

.info1 {
	width: 80%;
	max-width: 1200px;
	margin: 20px auto 0 auto;
}

.item-info1 {
	padding:20px 0;
	color:#fff;
	text-align:center;
}

.info2 {
    width: 90%;
	max-width: 1200px;
	margin: 20px auto 0 auto;
}

.item-info2 {
    padding:20px 0;
	color:#fff;
	text-align:left;
}


* {
  box-sizing: border-box;
}

.item-slider {
	
background:#fff;
padding:10px;
margin-bottom:10px;
cursor: pointer;
	
}

.btncomprar {
 width: 100%;
 color: #fff;
 background: #fff;
 cursor: pointer;
 border: 1px solid #fff;
 padding: 10px 0;
 margin:10px 0; 
 transition: color 1s;
 -webkit-transition: color 1s;
}

.item-slider:hover .btncomprar{
 color: #de6244;
 border: 1px solid #de6244;
}

.slider {
	width: 1200px;
	text-align: center;
	margin: -120px auto 0 auto;
}

.slick-slide {
  margin: 0px 3px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: white;
}

.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: 1;
}

.slick-current {
  opacity: 1;
}

.prev {
    font-size: 30px;
    position: absolute;
    left: -20px;
    top: 45%;
    color: #9f9f9f;
    cursor: pointer;
    background: white;
	 border-radius: 50%;
	 padding: 10px;
	 z-index:1000;
}

.next {
    font-size: 30px;
    position: absolute;
    right: -20px;
    top: 45%;
    color: #9f9f9f;
    cursor: pointer;
    background: white;	
	border-radius: 50%;
	padding: 10px;
	z-index:1000;
}

#Btntop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #fff; /* Set a background color */
  color: #9f9f9f; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 50%; /* Rounded corners */
  font-size: 10px; /* Increase font size */
  width: 70px;
}

#Btntop:hover {
  background-color: #de6244; /* Add a dark-grey background on hover */
  color: #fff;
}

#Btntop span {
	float: left;
    width: 100%;
	margin-bottom: -10px;
}

.icon-top {
	font-size:20px;
	float: left;
    width: 100%;
}


