/* CSS Document */

/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, button, output, ruby, section, summary, time, mark, audio, video {
font-family: 'Open Sans', sans-serif;
margin: 0;
padding: 0;
border: 0;
font: inherit;
text-decoration:none;
list-style: none;
}

/** general **/
body {
font-family: 'Open Sans', sans-serif;
font-size: 13px;
line-height: 1.8em;
font-style: normal;
font-weight: normal;
text-align: left;
overflow-x:hidden;
color:#606060;
background:#fff;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

#layout {
 margin-top:-20px;	 
}

.container-fluid {
margin: 0;
padding: 0;
}

h1{ font-size:30pt; font-weight:700; line-height:normal; text-transform:uppercase;}
h2{ font-size:22pt; font-weight:400; line-height:normal; }
h3{ font-size:20pt; font-weight:300; line-height:normal; }
h4{ font-size:18pt; font-weight:600; }
h5{ font-size:14pt; font-weight:600; }
h6{ font-size:12pt; font-weight:600; }
p{
	font-size:15px;
}

a, a:visited, a:hover, a:active , a:link{ 
color: inherit;
text-decoration:none;
outline: 0;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease; 
}

.link-class {
    display: block;
	text-decoration:none;
}
	
	hr {
	display: block;
	clear: both;
	border-top: solid 1px #ddd;
	margin: 40px 0 40px 0;
	}
	
.center{ text-align:center; margin:0 auto; }
.left{ text-align:left; float:left; line-height:inherit; }
.right{ text-align:right; float:right; line-height:inherit; }
.color{
	color:#97ff51;
}

.form {

color:#fff;
text-align: center;
background: #99d7d2; 
padding:0;"

}

.form-submit-button {
background: #0066A2;
color: white;
border-style: none;
font: bold 15px arial, sans-serif;
text-shadow:none;
cursor: hand;
}

.form-input {
color: white;
height: 40px;
background: none;
border-style: none;
font: bold 15px arial, sans-serif;
text-shadow:none;
}

input::-webkit-input-placeholder{
    color:white;
}
input:-moz-placeholder {
    color:white;
}

/* navigation */
.navbar-default {
	     position:fixed;
		 background:rgba(0,0,0,0);
		 top:30px;
		 border-bottom:1px groove rgba(255,255,255,0);
         -webkit-transition : all .3s ease-in-out;
         -moz-transition    : all .3s ease-in-out;
         transition         : all .3s ease-in-out;
        }
		
.navbar-default {
	height:70px;
    }
	.navbar-default.fullHeight{height:100%!important;}

.navbar-brand {position:absolute; top:15px; padding-bottom:20px; left:50px; z-index:2; }
.navbar-brand img{ 
	      width:100%;
		  height:auto; 
		  -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
          -webkit-transition : all .1s ease-in-out;
          -moz-transition    : all .1s ease-in-out;
          transition         : all .1s ease-in-out;
		 }

.scroll-link{cursor:pointer;}

.sticky-nav.navbar-default {
    background:#111111;
	top:0px;
	border-bottom:1px groove rgba(255,255,255,0);
	box-shadow: 5px 4px 3px rgba(0, 0, 0, .1);
	-webkit-transition : background .3s ease-in-out;
    -moz-transition    : background .3s ease-in-out;
    transition         : background .3s ease-in-out;
	
	}
	
	.sticky-nav .navbar-brand{position:absolute; top:5px;}
	.sticky-nav nav{
	top:10px; 
	-webkit-transition : all .1s ease-in-out;
    -moz-transition    : all .1s ease-in-out;
    transition         : all .1s ease-in-out;
	}


.rodape {
	background-color:#fff; 
	width:100%; 
	height:60px;
}

.item-b {
	padding:10px;
	text-align:left;
}

.item-rodape1 {
	float:left;
	padding:7px 0;
	font-size:12px;"
}

.item-rodape2 {
	float:left;
	padding:25px 0;
	font-size:12px;"
}

/* menu nav */
#menu-center {
	position:absolute;
	top:30px;
	left:400px;
	color:#efefef;
	z-index:999;
	-webkit-transition : all .1s ease-in-out;
    -moz-transition    : all .1s ease-in-out;
    transition         : all .1s ease-in-out;
}

#menu-center ul {
	padding: 0;
    margin: 0;
	list-style: none;
	position: relative;
	}
	
#menu-center ul li {
	display:inline-block;
	}
	#menu-center ul li.space{ display: inline-block; padding: 0; color:#97ff51;}
	
#menu-center a {
	display:block;
	padding:10px 0px 10px 10px;
	color:#efefef;
	font-size:15px;
	font-weight:600;
	text-transform:uppercase;
	letter-spacing:1px;
	line-height: 30px;
	text-decoration:none;
}

#menu-center a:hover{ color:#e8694a; background: #fff;}

#menu-center a:hover::before {
	display:inline-block;
	position:absolute;
	max-width: 35px;
	color: rgba(255,255,255,0);
	border-bottom: 2px solid rgba(255,255,255,1);
	-webkit-transition: max-width 0.5s;
	-moz-transition: max-width 0.5s;
	transition: max-width 0.5s;
    }

#menu-center a::before {
	position:absolute;
	overflow: hidden;
	max-width: 0;
	border-bottom: 2px solid rgba(255,255,255,0);
	color: rgba(255,255,255,0);
	content: attr(data-hover);
	-webkit-transition: max-width 0.5s;
	-moz-transition: max-width 0.5s;
	transition: max-width 0.5s;
	white-space: nowrap;
    }

#menu-center a.active{color:#97ff51;}

#menu-center ul ul {
    display:none;
	position: absolute;
	top: 50px;
	color:#efefef;
}

#menu-center ul li:hover > ul {
	display:inherit;
	-webkit-animation-name: animfadeInUpmenu;
    animation-name: animfadeInUpmenu;
   -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
	
#menu-center ul ul li {
	width:200px;
	float:none;
	display:list-item;
	background:rgba(0,0,0,1);
	border-bottom:1px solid #111;
	position: relative;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, .3);
}
#menu-center ul ul li a{ font-size:8pt; line-height:30px;}
#menu-center ul ul li:last-child {border-bottom:none;}

#menu-center ul ul ul li {
	position: relative;
	top:-60px; 
	left:200px;
}

li > a:after { content:  ''; margin-left:20px; }
li > a:only-child:after { content: ''; }
/*end menu nav*/


.space-vitrine{ margin:10px; padding: 10px;}

.barra {
	
	background: #fff;
    display: block;
    width: 100%;
    position: absolute;
    height: 90px;
    left: 0;
    z-index: 10000;	
}

#barrabiquine {
 display:none;
 z-index:10000; 
 position:absolute; 
 left: 400px; 
 top: 98px; 
 background:#de6244; 
 color: #fff; 
 height:300px; 
 width:100%; 
 text-align:center;"
}

#barravermelha {
 display:none;
 z-index:10000; 
 position:absolute; 
 left: 0; 
 top: 98px; 
 background:#de6244; 
 color: #fff; 
 height:300px; 
 width:100%; 
 text-align:center;"
}


#barraprocura {
 display:none;
 z-index:10000; 
 position:absolute; 
 left: 0; 
 top: 90px; 
 background:#de6244; 
 color: #fff; 
 height:60px; 
 width:100%; 
 text-align:center;"
}

#barracarrinho {
 display:none;
 z-index:10000; 
 position:absolute; 
 right: 0; 
 top: 98px; 
 background:#de6244; 
 color: #fff; 
 text-align:center;"
 width:500px; 
 height:210px;
}

/* menu nav */
#menu-dir {
	position:absolute;
	top:30px;
	right:0;
	color:#efefef;
	z-index:999;
	-webkit-transition : all .1s ease-in-out;
    -moz-transition    : all .1s ease-in-out;
    transition         : all .1s ease-in-out;
}

#menu-dir ul {
	padding: 0;
    margin: 0;
	list-style: none;
	position: relative;
	}
	
#menu-dir ul li {
	display:inline-block;
	}
	#menu-dir ul li.space{ display: inline-block; padding: 0; color:#97ff51;}
	
#menu-dir a {
	display:block;
	padding:10px 0px 10px 10px;
	color:#efefef;
	font-size:15px;
	font-weight:600;
	text-transform:uppercase;
	letter-spacing:1px;
	line-height: 30px;
	text-decoration:none;
}

#menu-dir a:hover{ color:#97ff51;}
/*end menu nav*/


.monte {
	background-image: url('../images/banner-monte.jpg'); 
	width:100%; 
	height:700px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.gradiente {
	
   background-image: url('../images/gradiente.jpg'); 
   width:100%; 
   height:auto;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
 
}

.item-info1 {
	padding:20px 0;
	color:#fff;
	text-align:center;
}

.item-info2 {
    padding:20px 0;
	color:#fff;
	text-align:left;
}


* {
  box-sizing: border-box;
}

.item-slider {
	
background:#fff;
padding:10px;
margin-bottom:10px;
	
}

.slider {
	width: 90%;
	text-align: center;
	margin: -120px auto 0 auto;
}

.slick-slide {
  margin: 0px 5px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: white;
}

.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: 1;
}

.slick-current {
  opacity: 1;
}
